.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  background-color: #61dafb;
}
form {
  display: grid;
  max-width: 500px;
  margin:300px auto
}
input {
  height: 2rem;
  border: none;
  margin: 4px 0;
  margin-bottom: 10px;
  border-radius: 4px;
  padding: 4px 10px;
}
label {
  text-align: left;
  font-weight: bold;
}
input[type="submit"] {
  font-weight: bold;
  height: 3rem;
  color: grey;
  cursor: pointer;
}